* {
	scroll-behavior: smooth;
}

body {
	font-size: 22px;
	background-image: url("../multimedia/images/de.png");
	background-position: center;
	background-color: #111;
	background-attachment: fixed;
	color: #dbeffe;
	font-family: 'Sen', sans-serif;
	text-align: center;
}

h2 {
	font-size: ;
}
h3 { 
	font-size: ;
}

h4 {
	font-size: 18px;
	padding: 20px;
}

p {
	font-size: ;
	text-align: center;
}

a {
	text-decoration: none;
	color: #fff;
}

section {
	margin: 10px auto;
}


nav a {
	color: #fff;
	text-decoration: none;
}

img {
	height: 100%;
	width: 100%;
	object-fit: cover;
}


.nav-header {
	display: none;
}


.img-logo-container {
	height: 180px;
	width: 100%;
	overflow: hidden;
}
.img-logo {
}


.inicio {
	display: flex;
	text-align: center;
	align-content: center;
	flex-direction: column;
	margin: 10px auto;
}
.img-menu-item {
	cursor: pointer;
	height: 250px;
	width: 100%;
	object-fit: cover;
	border-radius: 10px;
}

.menu-info {
	padding: 20px;
	margin: 10px auto;
}



.menu-container {
	display: grid;
	transform: scale(1);
	transition: transform .4s;
}
.container-menu-pizzas, .container-menu-hamburguesas, 
.container-menu-complementos, .container-menu-bebidas,
.container-menu-especial {
	margin: 10px 0;
	transition: width .3s, height .5s;
  width: 99%;
	height: 485px;
	overflow: hidden;
	display: flex;
}


.ul-menu-food {
	list-style: none;
	display: grid;
	grid-template-columns: 1fr;
	grid-template-rows: minmax(min-content, max-content);
	grid-auto-rows: minmax(min-content, max-content);
	place-items: center;
	gap: 6px;
	grid-template-columns: 1fr 1fr;
}
.calzone-menu {
	display: grid;
	grid-column: 1 / 3;
	grid-template-columns: 1fr;
	place-items: center;
	transition: height .4s, border .8s;
	overflow: hidden;
	height: 0px;
}


.calzone-menu-open {
	height: 550px;
}

.h4-mostrar:before {
	color: #0d0;
	border-bottom: 2px solid #f00;
	transition: transform .3s;
}
.ver-pizza:before {
	content: 'Ver Pizzas';
}
.ocultar-pizzas > ul > li > .ver-pizza:before {
	content: 'Ocultar Pizzas';
	color: #d00;
}
.ver-hamburguesas:before {
	content: 'Ver Hamburguesas';
}
.ocultar-hamburguesas > ul > li > .ver-hamburguesas:before {
	content: 'Ocultar Hamburguesas';
	color: #d00;
}
.ver-complementos:before {
	content: 'Ver Complementos';
}
.ocultar-complementos > ul > li > .ver-complementos:before {
	content: 'Ocultar Complementos';
	color: #d00;
}
.ver-bebidas:before {
	content: 'Ver Bebidas';
}
.ocultar-bebidas > ul > li > .ver-bebidas:before {
	content: 'Ocultar Bebidas';
	color: #d00;
}
.ver-complementos:before {
	content: 'Ver Complementos';
}
.ocultar-complementos > ul > li > .ver-complementos:before {
	content: 'Ocultar Complementos';
	color: #d00;
}
.ver-especiales:before {
	content: 'Ver Especiales';
}
.ocultar-especiales > ul > li > .ver-especiales:before {
	content: 'Ocultar Especiales';
	color: #d00;
}
.abrir-pizza {
	height: calc(13.64 * 420px);
	overflow: visible;
}
.abrir-pizza-calzone {
	height: calc(15.1 * 420px);
}
.abrir-hamburguesas {
	height: calc(4 * 470px);
	overflow: visible;
}
.abrir-complementos {
	height: calc(4 * 470px);
	overflow: visible;
}
.abrir-bebidas {
	height: calc(4.3 * 470px);
	overflow: visible;
}
.abrir-especiales {
	height: calc(4.3 * 470px);
	overflow: visible;
}

.h4-menu {
	font-size: 30px;
	padding: 20px 0 0px 0;
}

.h4-switch {
	background-color: #fffd;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
	padding: 10px;
	width: 98%;
	color: #48e;
	border-bottom: 4px solid #48e;
	border-right: 4px solid #48e;
	transform: scale(1);
	transition: transform .3s, background .4s, color .3s;
}
.pizza {
	margin-right: -3%;
}
.calzone{
	margin-left: -3%;
}
.calzone:active, .pizza:active {
	transform: scale(.8);
}

.p-focus {
	transform: scale(.9);
	background: #999;
	color: #ddd;
}
.to-up-pizza {
	content: "s";
	background: #000d;
	position: sticky;
	top: 0%;
	grid-column: 1/3;
	padding: 10px 14px;
	border-radius: 100%;
	transition: transform .3s;
}
.to-up-pizza:active {
	transform: scale(.7);
}
.fa-angles-up {
	font-size: 30px;
}


.li-menu-item {
	background-color: #000d;
	border-radius: 10px;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
	padding: 10px;
	width: 98%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	min-height: 350px;
	margin: 8px auto;
	color: #fff;
}
.calzone-item {
	min-width: 80vw;
	height: 98%;
}
.arma-tu-pizza {
	grid-column: 1 / 3;
}
.switch-food, .switch-ham, .switch-com
, .switch-beb, .switch-esp {
	grid-column: 1 / 3;
	height: 470px;
	transition: transform .4s, background .5s;
}
.switch-food:active, .switch-ham:active, .switch-com:active
, .switch-beb:active, .switch-esp:active {
	transform: scale(.9);
	background-color: #000e;
}

.menu-item-description {
	margin: 20px 0;
}

.menu-item-price::before {
	content: " ";
	font-size: 25px;
	color: #efdfaf;
	margin-top: -10px;
}

.container-menu-hamburguesas > ul > li:last-child, 
.container-menu-complementos > ul > li:last-child,
.container-menu-especial > ul > li:last-child {
	grid-column: 1 / 3;
	background: ;
}





.close-menu {
	transform: scale(0);
	position: absolute;
}
.menu-carta-container {
	transform: scale(0);
	transition: transform .35s;
}
.menu-carta-on {
	transform: scale(1.0);
}

.btn-switch-menu {
	background: #666;
	border: none;
	padding: 20px;
	margin: 20px 10px;
	color: #fff;
	transition: transform .5s, background .3s;
}
.btn-switch-menu:active {
	background: #333;
	transform: scale(.9);
}


.btn-maps {
	color: #fff;
	border: none;
	padding: 15px;
	margin: 25px auto;
	background: #555;
	transition: transform .3s, background .2s;
}
.btn-maps:active {
	color: #ddd;
	background: #333;
	transform: scale(.8);
}

.location-container {
	margin: 35px 15px;
	display: flex;
	justify-content: center;
	align-items: center;
	border: 4px double red;
	height: 400px;
	width: 90%
}

.location {
	width: 97%;
	height: 97%;
}



.contacto {
	color: #fff;
	padding: 20px;
	text-align: center;
	margin: 30px auto;
}
.number-phone {
	color: #48e;
	font-size: 28px;
}

footer p {
	margin: 0;
}


.fa-whatsapp, .fa-facebook {
	margin: 10px;
	font-size: 40px;
}

.pizza-time-xd {
	padding: ;
	min-height: unset;
	gap: 20px;
	transition: height .5s;
}
.delivery-pizza-close {
	height: 100px;
	overflow: hidden;
}
.delivery-pizza-open {
	height: 250px;
}
.btn-pizza-time {
	color: #fff;
	background: #930;
	border: none;
	border-radius: 10px;
}


.animation-pulsate-pizza {
	padding: 10px;
	-webkit-animation: heartbeat 5s ease-in-out infinite both;
	animation: heartbeat 5s ease-in-out infinite both;
}


@-webkit-keyframes heartbeat {
  from {
    -webkit-transform: scale(1);
            transform: scale(1);
    -webkit-transform-origin: center center;
            transform-origin: center center;
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
  }
  10% {
    -webkit-transform: scale(0.91);
            transform: scale(0.91);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
  }
  17% {
    -webkit-transform: scale(0.98);
            transform: scale(0.98);
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
  }
  33% {
    -webkit-transform: scale(0.87);
            transform: scale(0.87);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
  }
  45% {
    -webkit-transform: scale(1);
            transform: scale(1);
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
  }
}
@keyframes heartbeat {
  from {
    -webkit-transform: scale(1);
            transform: scale(1);
    -webkit-transform-origin: center center;
            transform-origin: center center;
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
  }
  10% {
    -webkit-transform: scale(0.91);
            transform: scale(0.91);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
  }
  17% {
    -webkit-transform: scale(0.98);
            transform: scale(0.98);
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
  }
  33% {
    -webkit-transform: scale(0.87);
            transform: scale(0.87);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
  }
  45% {
    -webkit-transform: scale(1);
            transform: scale(1);
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
  }
}

.animation-click-pizza{-webkit-animation:wobble-hor-bottom .8s both;animation:wobble-hor-bottom .8s both}
@-webkit-keyframes wobble-hor-bottom{0%,100%{-webkit-transform:translateX(0);transform:translateX(0);-webkit-transform-origin:50% 50%;transform-origin:50% 50%}15%{-webkit-transform:translateX(-30px) rotate(-6deg);transform:translateX(-30px) rotate(-6deg)}30%{-webkit-transform:translateX(15px) rotate(6deg);transform:translateX(15px) rotate(6deg)}45%{-webkit-transform:translateX(-15px) rotate(-3.6deg);transform:translateX(-15px) rotate(-3.6deg)}60%{-webkit-transform:translateX(9px) rotate(2.4deg);transform:translateX(9px) rotate(2.4deg)}75%{-webkit-transform:translateX(-6px) rotate(-1.2deg);transform:translateX(-6px) rotate(-1.2deg)}}@keyframes wobble-hor-bottom{0%,100%{-webkit-transform:translateX(0);transform:translateX(0);-webkit-transform-origin:50% 50%;transform-origin:50% 50%}15%{-webkit-transform:translateX(-30px) rotate(-6deg);transform:translateX(-30px) rotate(-6deg)}30%{-webkit-transform:translateX(15px) rotate(6deg);transform:translateX(15px) rotate(6deg)}45%{-webkit-transform:translateX(-15px) rotate(-3.6deg);transform:translateX(-15px) rotate(-3.6deg)}60%{-webkit-transform:translateX(9px) rotate(2.4deg);transform:translateX(9px) rotate(2.4deg)}75%{-webkit-transform:translateX(-6px) rotate(-1.2deg);transform:translateX(-6px) rotate(-1.2deg)}}


.text-focus-in{-webkit-animation:text-focus-in 1s cubic-bezier(.55,.085,.68,.53) both;animation:text-focus-in 1s cubic-bezier(.55,.085,.68,.53) both}

      /* Estilo del modal */
      #modal {
        display: none; /* El modal se oculta por defecto */
        position: fixed; /* Posición fija para cubrir toda la pantalla */
        z-index: 1; /* El modal debe estar por encima de todo el contenido */
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        overflow: auto; /* Para permitir el desplazamiento en pantallas pequeñas */
        background-color: rgba(0, 0, 0, 0.5); /* Fondo oscuro y semitransparente */
        justify-content: center;
        align-items: center;
      }
      
      /* Estilo de la imagen dentro del modal */
      #modal-imagen {
        display: block; /* Asegurar que la imagen se muestre como un bloque */
        margin: 0 auto; /* Centrar la imagen horizontalmente */
        max-width: 90%; /* Establecer el ancho máximo de la imagen */
        max-height: 80%; /* Establecer la altura máxima de la imagen */
      }
      
      /* Estilo del botón para cerrar el modal */
      .modal-cerrar {
        color: #fff; /* Color del botón */
        position: absolute;
        top: 10px;
        right: 20px;
        font-size: 30px;
        font-weight: bold;
        cursor: pointer;
        user-select: none;
      }
      
      /* Estilo del fondo difuminado */
      .modal-fondo {
        filter: blur(5px); /* Aplicar efecto de desenfoque */
        -webkit-filter: blur(5px);
        position: fixed;
        z-index: 0;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.5); /* Fondo oscuro y semitransparente */
      }



/* Elemento base */
::-webkit-scrollbar {
  width: 8px;
}

/* Carril */
::-webkit-scrollbar-track {
  background: #29002b;
  border-radius: 50px
}
 
/* Manejador */
::-webkit-scrollbar-thumb {
  background: #7b00ff;
  border-radius: 50px;
}

/* Manejador hover */
::-webkit-scrollbar-thumb:hover {
  background: #8f51d1;
}





@media screen and (min-width: 768px) {

}

@media screen and (min-width: 1024px) {
	

	.header-menu {
		background-color: #000;
		position: fixed;
		top: 0;
		width: 100%;
		z-index: 1;
		text-align: center;
		display: flex;
		justify-content: center;
		align-items: center;
		flex-direction: column;
		padding: 20px 10px;
	}

	.nav-header {
		display: block;
		width: 100%;
	}
	.nav-ul {
		width: 100%;
		display: flex;
		justify-content: space-around;
		align-items: center;
	}
	#inicio {
		margin-top: 180px;
	}


































/* Price */
.calzone-price::before {
	content: "$150";
}
.pizza-price-gd::before {
	content: "GD $160";
}
.pizza-price-med::before {
	content: "MED $140";
}
.pizza-price-ch::before {
	content: "CH $120";
}

.hamburguesa-res-price::before {
	content: "$60";
}
.hamburguesa-pollo-price::before {
	content: "$70";
}
.estilo-suizo-price::before {
	content: "$80";
}
.hamburguesa-hawaiana-price::before {
	content: "$70";
}
.hamburguesa-doble-price::before {
	content: "$80";
}

.nuggets-price:before {
	content: "$70";
}
.wings-price:before {
	content: "$70";
}
.aros-price:before {
	content: "$70";
}
.fries-price:before {
	content: "$70";
}
.nugget-fries-price:before {
	content: "$70";
}

.coca-cola-600-price:before {
	content: "$70";
}
.jarritos-600-price:before {
	content: "$70";
}
.boing-price:before {
	content: "$70";
}
.coca-cola-2lts-price:before {
	content: "$70";
}
.jarritos-2lts-price:before {
	content: "$70";
}
.cafe-colombia-price:before {
	content: "$70";
}

.sub-price:before {
	content: "$70";
}
.sub-italiano-price:before {
	content: "$70";
}
.hot-dog-price:before {
	content: "$70";
}
.hot-dog-toc-price:before {
	content: "$70";
}
.cheesesteak-price:before {
	content: "$70";
}
/* Price */





